<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    <h1>Help Page</h1>
    <ul>
      <p>Contents</p>
      <li>Log In</li>
      <li>View Library</li>
      <li>Add Books</li>
    </ul>
  </body>
  </html>
